<html>
    <head>
        <title>Foccacia Football Manager</title>
        <link rel="stylesheet" href="/global.css">
    </head>

    <body>
        <header>
            <h1 class="title">
                <a href="/">Football Manager</a>
            </h1>
            
            <nav class="nav_bar">
                {{#if _sections.nav}}
                    {{{_sections.nav}}}
                {{/if}}

                {{#if username}}
                    <a href="/groups">
                        <p class="header_text">My Groups</p>
                    </a>
                    <form method="POST" action="/users/logout" class="logout_btn">
                        <button type="submit">
                            <p class="header_text">Logout ({{username}})</p>
                        </button>
                    </form>
                {{else}}
                    <a href="/users/accounts">
                        <p class="header_text">Login</p>
                    </a>
                    <a href="/users/create">
                        <p class="header_text">Register</p>
                    </a>
                {{/if}}
            </nav>
        </header>

        {{{body}}}
    </body>
</html>