<link rel="stylesheet" href="/home_view.css">

{{#section 'nav'}}
    <a href="/competitions">
        <p class="header_text">Competitions</p>
    </a>
{{/section}}

<h2>Welcome to Foccacia - Your Football Competition Manager</h2>